<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" type="text">
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" formControlName="password" type="password">
      </div>
      <div>
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit">Register</button>
      <br>
      
    </form>
  </div>
  <div class="d-flex align-items-center justify-content-center pb-4">
    <p class="mb-0 me-2">Already have an account?</p>
    <button type="button" data-mdb-button-init data-mdb-ripple-init
        class="btn btn-outline-danger" routerLink="/login" >Log in</button>
</div>
  